<div class="profile-container">
    <img class="avatar" alt="Profile icon" src="@/assets/quokka-profile-pic.jpg"/>
    <h3 class="info-header">{{ $t('general') }}</h3>
    <div v-if="userProfile" class="user-info-container">
        <div class="label">{{ $t('username') }}</div>
        <span>{{ userProfile.username }}</span>

        <div class="label">{{ $t('name') }}</div>
        <div>{{ userProfile.name }}</div>

        <div class="label">{{ $t('phoneNumber') }}</div>
        <div>{{ userProfile.phone }}</div>

        <div class="label">{{ $t('email') }}</div>
        <div>{{ userProfile.email }}</div>

        <div class="label">{{ $t('website') }}</div>
        <div>{{ userProfile.website }}</div>
    </div>
    <h3 class="info-header">{{ $t('address') }}</h3>
    <div v-if="userProfile.address" class="user-info-container">
        <div class="label">{{ $t('street') }}</div>

        <div>{{ userProfile.address.street }}</div>

        <div class="label">{{ $t('suite') }}</div>
        <div>{{ userProfile.address.suite }}</div>

        <div class="label">{{ $t('city') }}</div>
        <div>{{ userProfile.address.city }}</div>

        <div class="label">{{ $t('zipcode') }}</div>
        <div>{{ userProfile.address.zipcode }}</div>
    </div>
</div>