.header {
  background-color: $header-bg-color;
  color: $header-text-color;
  display: flex;
  height: 300px;

  .logo-image {
    width: 185px;
    cursor: pointer;
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
  }

  .header-title {
    margin: auto;
    font-size: 62px;
  }

  .language-picker {
    position: absolute;
    top: 0;
    right: 0;
  }
}
