$takeaway-orange: #ff8000;
$text-color: darkGray;
$text-color-inverse: white;
$label-color: black;
$header-bg-color: $takeaway-orange;
$notification-bg-color: blue;
$header-text-color: $text-color-inverse;
$notification-text-color: $text-color-inverse;

