$takeaway-orange: #ff8000;
$text-color: darkGray;
$text-color-inverse: white;
$label-color: black;
$header-bg-color: $takeaway-orange;
$notification-bg-color: #FFE4C9;
$header-text-color: $text-color-inverse;
$notification-text-color: $label-color;
$status-text-color-delivering: blue;
$status-text-color-delivered: green;
$status-text-color-preparing: red;
$border-color: #dfdfdf;
$container-border-radius: 8px;
$container-border: solid 2px $border-color;
